@font-face {
  font-family: Union;
  src: url("../Union/union_regular.woff2") format("opentype");
}
h1, h2, h3, h4, li, ul {
  margin: 0;
  padding: 0;
}

p {
  line-height: 22px;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a, button, input[type=submit] {
  text-decoration: none;
  color: var(#0A0A0A);
}

/* CSS Reset */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #FFFFFF;
  color: #0A0A0A;
  font-family: "Union";
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body .container {
  width: 95%;
  margin: 20px auto;
}
@media only screen and (max-width: 900px) {
  body .container {
    width: 100%;
  }
}
body .hero {
  height: 100vh;
}
body .hero .hero_title {
  background-color: #0A0A0A;
  padding: 1em;
}
body .hero .hero_title .logo {
  fill: white;
}
body .hero .hero-content {
  display: flex;
  flex-direction: row;
  height: 80%;
  overflow: hidden;
}
body .hero .hero-content .hero-left {
  width: 50%;
  position: relative;
}
body .hero .hero-content .hero-left .textbox {
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
body .hero .hero-content .hero-left .textbox h1 {
  font-size: 7vh;
  font-weight: lighter;
  color: #0A0A0A;
  text-shadow: -2px -2px #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF;
  z-index: 4;
  margin-left: 2px;
}
body .hero .hero-content .hero-left .textbox div {
  background-color: #0A0A0A;
  color: white;
  z-index: 4;
  padding: 30px 6px 30px 6px;
  font-weight: 100;
}
body .hero .hero-content .hero-left .textbox div h4 {
  font-weight: 100;
  padding-bottom: 1em;
}
body .hero .hero-content .hero-left .textbox div p {
  margin-bottom: 1.5em;
}
body .hero .hero-content .hero-left .textbox div #hero-button {
  background-color: #79FA4D;
  text-decoration: none;
  color: #0A0A0A;
  padding: 0.5em 4em 0.5em 4em;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
}
body .hero .hero-content .hero-left .textbox div #hero-button:hover {
  transition: 0.2s;
  color: white;
}
body .hero .hero-content .hero-left .hero-lines {
  height: 100%;
  width: 1000%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .hero .hero-content .hero-left .hero-lines hr {
  border: none;
  height: 6px;
  background-color: #0A0A0A;
  margin-top: 5em;
}
body .hero .hero-content .hero-left .hero-lines hr:nth-child(1), body .hero .hero-content .hero-left .hero-lines hr:nth-child(2), body .hero .hero-content .hero-left .hero-lines hr:nth-child(3), body .hero .hero-content .hero-left .hero-lines hr:nth-child(4) {
  width: 10%;
}
body .hero .hero-content .hero-right {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #0A0A0A;
  overflow: hidden;
}
body .hero .hero-content .hero-right img {
  object-fit: cover;
}
@media only screen and (max-width: 900px) {
  body .hero .container {
    width: 100%;
  }
  body .hero .hero-content {
    flex-direction: column;
    overflow: visible;
  }
  body .hero .hero-content .hero-left {
    width: 100%;
  }
  body .hero .hero-content .hero-left .hero-lines {
    width: 100%;
  }
  body .hero .hero-content .hero-left .hero-lines hr {
    margin: 4vh 0px 0px 0px;
    width: 100%;
  }
  body .hero .hero-content .hero-left .hero-lines hr:nth-child(1), body .hero .hero-content .hero-left .hero-lines hr:nth-child(2), body .hero .hero-content .hero-left .hero-lines hr:nth-child(3), body .hero .hero-content .hero-left .hero-lines hr:nth-child(4) {
    width: 100%;
  }
  body .hero .hero-content .hero-right {
    width: 100%;
    background-color: red;
  }
  body .hero .hero-content .hero-right img {
    object-fit: cover;
    width: 100%;
  }
}
body .about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4em;
}
body .about .title {
  margin: 2em 0 0.5em 0;
}
body .about a {
  color: #79FA4D;
  font-weight: bold;
}
body .about a:hover {
  transition: 0.25s;
  color: #0A0A0A;
}
body .about .about-left {
  max-width: 60%;
}
body .about .about-left .headtitle {
  font-size: 2em;
}
body .about .about-left .tekstbox .title {
  font-weight: bold;
}
body .about .about-right {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .about .about-right .tekstbox {
  background-color: #0A0A0A;
  color: #FFFFFF;
  padding: 3em;
}
body .about .about-right .tekstbox .title {
  margin-top: 0;
}
body .about .about-right .tekstbox .cta {
  background-color: #79FA4D;
  text-decoration: none;
  color: #0A0A0A;
  padding: 0.5em 4em 0.5em 4em;
  border: none;
  outline: none;
  cursor: pointer;
}
body .about .about-right .tekstbox .cta:hover {
  transition: 0.2s;
  color: white;
}
body .about .about-right .tekstbox p {
  margin-bottom: 1em;
}
body .about .about-right .tekstbox2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body .about .about-right .tekstbox2 div {
  width: 45%;
}
@media only screen and (max-width: 900px) {
  body .about {
    flex-direction: column;
  }
  body .about .about-left {
    max-width: 100%;
  }
  body .about .about-right {
    max-width: 100%;
  }
  body .about .about-right .tekstbox {
    margin-top: 2em;
  }
}
body .slider-container {
  width: 95%;
  padding: 1em;
  background-color: #0A0A0A;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  body .slider-container {
    width: 100%;
  }
}
body .reviews {
  padding: 4em 0 4em 0;
}
body .reviews h1 {
  font-weight: bold;
  margin-bottom: 1em;
}
body .reviews .reviews-container {
  padding: 1em;
  background-color: black;
}
body .pricing-button {
  color: black;
  font-size: 1em;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  background-color: #79FA4D;
  width: 100px;
  height: 100px;
  border: 0;
  outline: 0;
  z-index: 100;
  cursor: pointer;
  line-height: 1.5em;
  letter-spacing: 3px;
}
body .pricing-button:hover {
  border-radius: 50%;
  transition: 0.3s;
  color: white;
}
body .order-overlay {
  color: #FFFFFF;
  z-index: 2000;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body .order-overlay .overlay-inner {
  background-color: black;
  padding: 200px;
}
body #pricing-sectizon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 4em;
}
body #pricing-sectizon .wrapper {
  background-color: #0A0A0A;
  width: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #pricing-sectizon .wrapper h3 {
  background-color: #0A0A0A;
  color: #FFFFFF;
  padding: 9px;
  font-size: 0.9em;
}
body #pricing-sectizon .wrapper .ticket-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
body #pricing-sectizon .wrapper .ticket-container .ticket-selector {
  color: black;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 70px;
  margin: 1em;
  background-color: #FFFFFF;
}
body #pricing-sectizon .wrapper .ticket-container .ticket-selector .title {
  font-weight: bolder;
}
body #pricing-sectizon .wrapper .ticket-container .ticket-selector .ticket-price {
  font-weight: bold;
  font-size: 1.25em;
  margin: 1rem;
  letter-spacing: 1px;
}
body #pricing-sectizon .wrapper .ticket-container .ticket-selector .ticket-price .number {
  font-weight: initial;
  font-size: 1.4em;
}
body #pricing-sectizon .wrapper .ticket-container .ticket-selector ul {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: initial;
}
body #pricing-sectizon .wrapper .ticket-container .ticket-selector ul li {
  padding: 10px;
}
body #pricing-sectizon .wrapper .ticket-container .ticket-selector ul li i {
  font-size: 1.15em;
  margin-right: 10px;
}
body #pricing-sectizon .wrapper .ticket-container .ticket-selector .ticket-button {
  background-color: #0A0A0A;
  text-decoration: none;
  color: #FFFFFF;
  padding: 0.5em 4em 0.5em 4em;
  border: none;
  outline: none;
  cursor: pointer;
}
body #pricing-sectizon .wrapper .ticket-container .ticket-selector .ticket-button:hover {
  transition: 0.2s;
  color: #79FA4D;
}
@media only screen and (max-width: 900px) {
  body #pricing-sectizon .wrapper {
    flex-direction: column;
  }
  body #pricing-sectizon .wrapper .ticket-container {
    flex-direction: column;
    align-items: center;
  }
  body #pricing-sectizon .wrapper .ticket-container > * {
    margin: 1rem;
  }
  body #pricing-sectizon .wrapper .ticket-selector {
    margin-top: 1em;
  }
}
body #footer > * {
  margin: 1rem;
}
body #footer {
  color: #FFFFFF;
  background-color: #0A0A0A;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
body #footer img {
  width: 200px;
}
body #footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: initial;
}
body #footer .contact p {
  padding: 0;
  margin: 0;
}
body #footer .contact .nieuwsbrief-button {
  margin: 0.5rem 0 0 0;
  color: #FFFFFF;
  cursor: pointer;
  padding: 3px 10px;
  outline: 0;
  background: 0;
  border: 3.5px solid #FFFFFF;
  border-radius: 1.5px;
  transition: all 0.5s;
}
body #footer .contact .nieuwsbrief-button:hover {
  border: 3.5px solid #79FA4D;
}
body #footer .contact .socials h4 {
  margin: 1rem 0 1rem 0;
}
body #footer .contact .socials span > * {
  margin: 5px;
  transition: all 0.5s;
  color: #FFFFFF;
}
body #footer .contact .socials span > *:hover {
  color: #79FA4D;
}
@media only screen and (max-width: 900px) {
  body #footer {
    flex-direction: column;
  }
}

.container .menu {
  width: 95%;
  margin: 20px auto;
  height: 100%;
  background-color: #0A0A0A;
  padding: 1em 0.5em 1em 0.5em;
}
.container .menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.container .menu ul a {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
}
.container .menu ul a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=global.css.map */
