@import 'variables';

@font-face {
    font-family: Union;
    src: url("../Union/union_regular.woff2") format("opentype");
}   

h1, h2, h3, h4, li, ul {
    margin: 0;
    padding: 0;
}

p {
    line-height: 22px;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a, button, input[type="submit"] {
    text-decoration: none;
    color: var($black);
}

/* CSS Reset */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

body {
    background-color: $white;
    color: $black;
    font-family: 'Union';
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    .container  {
        width: 95%;
        margin: 20px auto;
    }

    @media only screen and (max-width: $breakpoint-tablet) {

        .container {
            width: 100%;
        }

    }

    .hero {
        height: 100vh;

        .hero_title {
            background-color: $black;
            padding: 1em;

            .logo {
                fill: white;
            }
        }

        .hero-content {
            display: flex;
            flex-direction: row;
            height: 80%;
            overflow: hidden;

            .hero-left {
                width: 50%;
                position: relative;
                
                .textbox {
                    height: 70%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-around;

                    h1 {
                        font-size: 7vh;
                        font-weight: lighter;
                        color: $black;
                        text-shadow: -2px -2px $white, 2px -2px 0 $white, -2px 2px 0 $white, 2px 2px 0 $white;
                        z-index: 4;
                        margin-left: 2px;
                    }

                    div {
                        background-color: $black;
                        color: white;
                        z-index: 4;
                        padding: 30px 6px 30px 6px;
                        font-weight: 100;

                        h4 {
                            font-weight: 100;
                            padding-bottom: 1em;
                        }

                        p {
                            margin-bottom: 1.5em;
                        }

                        #hero-button {
                            background-color: $green;
                            text-decoration: none;
                            color: $black;
                            padding: .5em 4em .5em 4em;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            font-size: .75em;
                            font-weight: bold;

                            &:hover {
                                transition: .2s;
                                color: white;
                            }
                        }
                    }
                }

                .hero-lines {
                    height: 100%;
                    width: 1000%;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    hr {
                        border: none;
                        height: 6px;
                        background-color: $black;
                        margin-top: 5em;
                    }
                    hr:nth-child(1), hr:nth-child(2), hr:nth-child(3), hr:nth-child(4){
                        width: 10%;
                    }
                }
            }

            .hero-right {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                background-color: $black;
                overflow: hidden;

                img {

                    object-fit: cover;
                }
            }
        }

        @media only screen and (max-width: $breakpoint-tablet) {

            .container {
                width: 100%;
            }

            .hero-content {
                flex-direction: column;
                overflow: visible;

                .hero-left {
                    width: 100%;

                    .hero-lines {
                        width: 100%;
                        hr{
                            margin: 4vh 0px 0px 0px;
                            width: 100%;
                        }
                        hr:nth-child(1), hr:nth-child(2), hr:nth-child(3), hr:nth-child(4){
                            width: 100%;
                        }
                    }
                }

                .hero-right {
                    width: 100%;
                    background-color: red;

                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }
        }
    }

    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4em;


       .title {
            margin: 2em 0 .5em 0;
        }

        a {
            color: $green;
            font-weight: bold;

            &:hover {
                transition: .25s;
                color: $black;
            }
        }

        .about-left {
            max-width: 60%;

            .headtitle {
                font-size: 2em;
            }

            .tekstbox {

                .title {
                    font-weight: bold;
                }
            }
        }

        .about-right {
            max-width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tekstbox {
                background-color: $black;
                color: $white;
                padding: 3em;

                .title {
                    margin-top: 0;
                }

                .cta {
                    background-color: $green;
                    text-decoration: none;
                    color: $black;
                    padding: .5em 4em .5em 4em;
                    border: none;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        transition: .2s;
                        color: white;
                    }
                }

                p {
                    margin-bottom: 1em;
                }
            }

            .tekstbox2 {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                div {
                    width: 45%;
                }
            }
        }

    }

    @media only screen and (max-width: $breakpoint-tablet) {
        .about {
            flex-direction: column;

            .about-left {
                max-width: 100%;

            }

            .about-right {
                max-width: 100%;

                .tekstbox {
                    margin-top: 2em;
                }
            }
        }
    }

    .slider-container {
        width: 95%;
        padding: 1em;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @media only screen and (max-width: $breakpoint-tablet) {
        .slider-container {
            width: 100%;
        }
    }

    .reviews {
        padding: 4em 0 4em 0;
        
        h1 {
            font-weight: bold;
            margin-bottom: 1em;
        }

        .reviews-container {
            padding: 1em;
            background-color: black;
        }
    }

    .pricing-button {
        color: black;
        font-size: 1em;
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 20px;
        background-color: $green;
        width: 100px;
        height: 100px;
        border: 0;
        outline: 0;
        z-index: 100;
        cursor: pointer;
        line-height: 1.5em;
        letter-spacing: 3px;

        &:hover {
            border-radius: 50%;
            transition: .3s;
            color: $white;
        }
    }

    .order-overlay {
        color: $white;
        z-index: 2000;
        position: fixed;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    
        .overlay-inner {
            position: relative;
            background-color: $white;
            color: $black;
            padding: 50px;
            border: 10px solid $black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: 600;

            h2 {
                font-size: 3em;
                margin: 1rem;
            }

            p {
                font-size: 1.1em;
                margin-top: 0.2rem;
            }

            .overlay-btncontainer {
                margin-top: 3rem;

                a {
                    background-color: $black;
                    color: $white;
                    padding: 10px 30px;
                    margin: 5px;
                    transition: .5s;
                    &:hover { color: $green; }
                }

                .special {
                    background-color: $green;
                    color: $black;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.192);
                    &:hover { color: $white; }
                }
            }

            span {
                margin-top: 2.5rem;
                font-size: 1.2em;
                
                i {
                    color: $black;
                    margin-left: 7px;
                    transition: .4s;
                    &:hover { color: $green; }
                }
            }

            .overlay-close {
                position: absolute;
                top: -60px;
                right: -20px;   
                background-color: $black;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .5s;

                &:hover { color: $green; }
                i { color: $white; }
            }
        }
    }

    #pricing-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        margin-bottom: 4em;

        .wrapper {
            background-color: $black;
            width: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                background-color: $black;
                color: $white;
                padding: 9px;
                font-size: 0.9em;
            }

            .ticket-container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;

                .ticket-selector {
                    color: black;
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 25px 70px;
                    margin: 1em;
                    background-color: $white;
        
                    .title {
                        font-weight: bolder;
                    }
        
                    .ticket-price {
                        font-weight: bold;
                        font-size: 1.25em;
                        margin: 1rem;
                        letter-spacing: 1px;

                        .number {
                            font-weight: initial;
                            font-size: 1.4em;
                        }
                    }

                    ul {
                        list-style: none;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                        text-align: initial;

                        li {
                            padding: 10px;

                            i { 
                                font-size: 1.15em;
                                margin-right: 10px;
                            }
                        }
                    }

                    .ticket-button {
                        background-color: $black;
                        text-decoration: none;
                        color: $white;
                        padding: .5em 4em .5em 4em;
                        border: none;
                        outline: none;
                        cursor: pointer;

                        &:hover {
                            transition: .2s;
                            color: $green;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: $breakpoint-tablet) {
            .wrapper {
                flex-direction: column;
                .ticket-container { 
                flex-direction: column;
                align-items: center;
                }
                .ticket-container > * { margin: 1rem; }

                .ticket-selector {
                    margin-top: 1em;
                }
            }
        }
    }

    #footer > * {
        margin: 1rem;
    }

    #footer {
        color: $white;
        background-color: $black;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
            width: 200px;
        }

        .contact {
            display: flex;
            flex-direction: column;
            justify-content: initial;

            p { padding:0;margin:0; }

            .nieuwsbrief-button {
                margin: 0.5rem 0 0 0;
                color: $white;
                cursor: pointer;
                padding: 3px 10px;
                outline: 0;
                background: 0;
                border: 3.5px solid $white;
                border-radius: 1.5px;
                transition: all .5s;

                &:hover {
                    border: 3.5px solid $green;
                }
            }

            .socials {
                h4 {
                    margin: 1rem 0 1rem 0;
                }
                span > * {
                    margin: 5px;
                    transition: all .5s;
                    color: $white;

                    &:hover {
                        color: $green;
                    }
                }
            }
        }

        @media only screen and (max-width: $breakpoint-tablet) {
            flex-direction: column;
        }
    }
}